<% @services.each do |service| %>

    <div class="container">
        
        <div class="card">

            <div class="image">
                <% if service.image.present? %>
                    <%= image_tag service.image_url(:original) %>
                <% else %>
                    no image
                <% end%>
            </div>

            <div class="text">
                <%= link_to(service) do %>
                  <div class="fab">&#43;</div>
                <% end %>
                <h3><%= service.title %></h3>
                 </br>
                <p><%= service.description %></p>
                </br>

            </div>

        </div>
   
    </div>

<% end %>