</br>
<h1>Please add your services below, it's very easy!<h1>
</br></br>
<h2>New Service</h2>
</br>

<%= render 'form', service: @service %>

</br>

<h2>Your current services are:</h2>
<%= render 'services/services_cards' %>

<%= link_to 'Back', services_path, class:"btn" %>

</br></br>
