</br>
<h1>Send us a message!</h1>

<div class="contact">
    <div class="contact-container">
        <br /><br /><br />
        <div class="box">
                <form name='contact' method='POST'><input type='hidden' name='form-name' value='contact' />
                    <div class="inputBox">
                        <input type="text" name="name" required>
                        <label>name <span class="color">&ast;</span></label>
                    </div>
                    <div class="inputBox">
                        <input type="text" name="email" required>
                        <label>email <span class="color">&ast;</span></label>
                    </div>
                    <div class="inputBox">
                        <textarea name="message" maxlength="400" required></textarea>
                        <label>message <span class="color">&ast;</span></label>
                    </div>
                    <input type="submit" name="submit" value="send">
                    <br /> 
                </form>
        </div> 
        <div class="contact-wrapper">
                <p><br /> 
                <a href="https://www.facebook.com"><img src="https://image.freepik.com/free-icon/facebook-logo_318-49940.jpg" alt="facebook" width="35" height="35"></a> &nbsp;
                <a href="https://www.twitter.com"><img src="https://image.freepik.com/free-icon/twitter-logo-button_318-85053.jpg" alt="twitter" width="35" height="35"></a> &nbsp;
                <a href="https://www.youtube.com"><img src="https://image.freepik.com/free-icon/youtube-logotype_318-65152.jpg" alt="youtube" width="35" height="35"></a><br /><br />
                </p>
        </div>
        <br /> <br /> <br />
    </div>
</div>
